<% provide(:title, 'CornellRadio.com') %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox">
  <div id="wrapper">
    <div class="slider-wrapper theme-light">
      <div id="slider" class="nivoSlider">
        <%= image_tag("slide1.jpg") %>
        <%= image_tag("slide2.jpg") %>
        <%= image_tag("slide3.jpg") %>
        <%= image_tag("slide4.jpg") %>
      </div>
    </div>
  </div>
</div>
<div class="box feedBox">
  <h2>New at CornellRadio.com</h2>
  <%= render 'shared/mini_feed' %>
</div>