<% provide(:title, 'CornellRadio.com') %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
  <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=wvbr-20&o=1&p=14&l=ur1&category=musicandentertainmentrot&f=ifr&linkID=ANVSMTZSCBEF57N3" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

</div>
<div class="box feedBox">
  <div id="wrapper">
    <div class="slider-wrapper theme-light">
      <div id="slider" class="nivoSlider">
        <%= image_tag("slide1.jpg") %>
        <%= image_tag("slide2.jpg") %>
        <%= image_tag("slide3.jpg") %>
        <%= image_tag("slide4.jpg") %>
      </div>
    </div>
  </div>
</div>
<div class="box feedBox">
  <h2>New at CornellRadio.com</h2>
  <%= render 'shared/mini_feed' %>
</div>