<% provide :title, "Add new user" %>
<div class="box formBox">
  <h1>New user</h1>
  <%= form_for(@user) do |f| %>

    <%= render '/shared/error_messages', object: f.object %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>

    <% if current_user.level.to_i == 0 %>
      <%= f.label :level %>
      <%= f.select :level, [["Admin", 0], ["Manager", 1], ["DJ", 2]] %>
    <% else %>
      <%= f.hidden_field :level, value: 2 %>
    <% end %>

    <%= f.hidden_field :password, value: "CRrocks123" %>
    <%= f.hidden_field :password_confirmation, value: "CRrocks123" %>
    <br>
    <%= f.submit "Create new user", class: "btn btn-primary" %>
  <% end %>
</div>
