<div class="box sideBox">
  <%= render 'shared/on_now' %>
  <hr>
  <ol class="sideList">
    <li><%= link_to "#{@user.first_name}'s Posts", "/userposts/#{@user.id}" %></li>
    <% if @user.shows.any? %>
      <li><strong>Shows &amp; Co-hosts:</strong></li>
      <% @user.shows.each do |show| %>
        <li><%= link_to show.title, show %></li>
        <ul>
          <% show.users.each do |jock| %>
            <% if jock != @user %>
              <li><%= link_to "#{jock.first_name} #{jock.last_name}", jock %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ol>
</div>
<div class="box feedBox">
  <% unless @user.profile_pic.blank? %>
    <%= image_tag(@user.profile_pic.url, width: 100, style: 'float:left;margin-right:10px;') %>
  <% end %>
  <h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
  <% if @user == current_user || (signed_in? && current_user.level.to_i < 2) %>
    <h3><%= link_to "edit", edit_user_path(@user) %>
      <% if (signed_in? && current_user.level.to_i == 0) && current_user != @user %>
       | <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" }, title: "#{@user.first_name} #{@user.last_name}" %>
    <% end %>
    </h3>
  <% end %>
  <p><%= @user.bio %></p>
  <%= render 'shared/mini_feed' %>
</div>
