<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @show_user.user_id %>
</p>

<p>
  <strong>Showid:</strong>
  <%= @show_user.show_id %>
</p>

<%= link_to 'Edit', edit_show_user_path(@show_user) %> |
<%= link_to 'Back', show_users_path %>
