<li>
  <span class="title"><%= post.title %> - <%= post.user.firstName %> <%= post.user.lastName %></span>
  <span class="content"><%= post.blurb %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>