<div class="box formBox">
  <h1>Edit Post</h1>
  <%= form_for @post do |f| %>

    <%= render '/shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :blurb %>
    <%= f.text_area :blurb, placeholder: "Generally the first few lines of your post; max 250 char"%>

    <%= f.label :content %>
    <%= f.text_area :content, class: "full" %>
    <br>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>