<% provide :title, @post.title %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
  <hr>
  <ol class="sideList">
    <li><%= link_to "View all posts", posts_path %></li>
    <% unless @post.user.nil? %>
      <li><%= link_to "View other posts by #{@post.user.first_name}", "/userposts/#{@post.user.id}" %></li>
    <% end %>
    <% if @post.show %>
      <li><%= link_to "View other posts from #{@post.show.title}", "/showposts/#{@post.show.id}" %></li>
    <% end %>
  </ol>
</div>
<div class="box feedBox">
  <h2><%= @post.title %></h2>
  <% unless @post.user.nil? %>
    <h3>by <%= link_to @post.user.first_name, @post.user %></h3>
  <% end %>
  <% if @post.show %>
    <h4>from <%= link_to @post.show.title, @post.show %></h4>
  <% end %>
  <% if current_user == @post.user || (signed_in? && current_user.level.to_i < 2) %>
    <h4><%= link_to "edit", edit_post_path(@post) %> | <%= link_to "delete", @post, method: :delete, data: { confirm: "You sure?" }, title: @post.title %></h4>
  <% end %>
  <p><%= raw @post.content %></p>
  <div class="fb-share-button" data-href="<%= request.original_url %>" data-type="button_count"></div>
</div>
