<% provide :title, @post.title %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
  <hr>
  <ol class="sideList">
    <li><%= link_to "View all posts", posts_path %></li>
    <li><%= link_to "View other posts by #{@post.user.first_name}", "/userposts/#{@post.user.id}" %></li>
    <% if @post.show %>
      <li><%= link_to "View other posts from #{@post.show.title}", "/showposts/#{@post.show.id}" %></li>
    <% end %>
  </ol>
</div>
<div class="box feedBox">
  <h2><%= @post.title %></h2>
  <h3>by <%= link_to @post.user.first_name, @post.user %></h3>
  <% if @post.show %>
    <h4>from <%= link_to @post.show.title, @post.show %></h4>
  <% end %>
  <% if current_user == @post.user || (signed_in? && current_user.level.to_i < 2) %>
    <h4><%= link_to "edit", edit_post_path(@post) %></h4>
  <% end %>
  <p><%= raw @post.content %></p>
</div>
