<% provide :title, "Our shows" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox" style="height:<%= (@shows.count/2+1)*72 + 160 %>px">
  <h1>Our Shows</h1>
  <%= will_paginate %>
    <div class="col1">
      <ol class="index">
        <%= render @shows.slice(0,[7,@shows.length].min) %>
      </ol>
    </div>
    <% if @shows.length > 7 %>
      <div class="col2">
        <ol class="index">
          <%= render @shows.slice(7,[14,@shows.length].max) %>
        </ol>
      </div>
    <% end %>
</div>
