<% provide :title, "Add new show" %>
<div class="box formBox" style="height:600px;">
  <h1>New show</h1>
  <%= form_for(@show) do |f| %>

    <%= render '/shared/error_messages', object: f.object %>
    <div class="col1">
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <div><strong>Links to:</strong></div>
      <%= f.label :fb_page, 'Facebook' %>
      <%= f.text_field :fb_page, placeholder: "Full link to FB page" %>

      <%= f.label :tw_page, 'Twitter' %>
      <%= f.text_field :tw_page, placeholder: "Twitter handle" %>

      <%= f.label :ext_page, 'External Site' %>
      <%= f.text_field :ext_page %>

      <%= f.label :rss, 'RSS Feed' %>
      <%= f.text_field :rss %>

      <%= f.label :start_time %>
      <%= f.time_field :start_time %>
      <br>
      <%= f.select :start_day, [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 7]] %>

      <%= f.label :end_time %>
      <%= f.time_field :end_time %>
      <br>
      <%= f.submit "Create Show", class: "btn btn-primary" %>
    </div>
    <div class="col2">
      <% (1..8).each do |d| %>

        <%= label :show_user, "DJ #{d}" %>
        <%= select :show_user, "user_id#{d}", User.all.collect { |p| [ "#{p.first_name} #{p.last_name}", p.id]}, { include_blank: true } %>

      <% end %>
    </div>

  <% end %>
</div>
