<% provide :title, "#{@show.title} on CornellRadio.com" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
  <hr>
  <ol class="sideList">
    <li><%= link_to "Posts from #{@show.title}", "/showposts/#{@show.id}" %></li>
    <li>DJs:</li>
    <ul>
    <% @show.users.each do |jock| %>
      <li><%= link_to "#{jock.first_name} #{jock.last_name}'s Page", jock %></li>
    <% end %>
    </ul>
  </ol>
</div>
<div class="box feedBox">
  <% if @show.profile_pic %>
    <%= image_tag "/#{@show.profile_pic}", width: 100, style: "float:left; margin-right:10px;" %>
  <% end %>
  <span>
    <h2><%= @show.title %></h2>
    <% if @user == current_user || (signed_in? && current_user.level.to_i < 2) %>
      <h3>
        <%= link_to "edit", edit_show_path(@show) %>
        <% if (signed_in? && current_user.level.to_i == 0) %>
            | <%= link_to "delete", @show, method: :delete, data: { confirm: "You sure?" }, title: @show.title %>
        <% end %>
      </h3>
    <% end %>
    <p>
      <% jockList = '' %>
      <% @show.users.each do |jock| %>
        <% jockList << jock.first_name+' '+jock.last_name+', ' %>
      <% end %>
      <%= jockList[0,jockList.length-2] %>
    </p>
  </span>
  <p><%= @show.description %></p>
  <%= render 'shared/mini_feed' %>
  <% if !@show.fb_page.blank? %>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-like" data-href="<%= @show.fb_page %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  <% end %>
  <% if !@show.tw_page.blank? %>
    <a href="https://twitter.com/<%= @show.tw_page %>" class="twitter-follow-button" data-show-count="false">Follow @<%= @show.tw_page %></a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
  <% end %>
  <% if !@show.ext_page.blank? %>
    <a href="<%= @show.ext_page %>"></a>
  <% end %>
</div>

