<div class="box formBox">
  <h1>New Post</h1>
  <%= form_for @podcast do |f| %>

    <%= render '/shared/error_messages', object: f.object %>

    <%= link_to "Upload audio clip", new_audio_path, class:'btn' %>
    
    <% if current_user.level.to_i < 2 %>
      <%= f.label :user_id %>
      <%= f.select :user_id, User.all.collect { |user| ["#{user.first_name} #{user.last_name}", user.id] } %>
    <% else %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>

    <%= f.label :show_id %>
    <% if current_user.level.to_i < 2 %>
      <%= f.select :show_id, Show.all.collect { |show| [ show.title, show.id]}, { include_blank: true }  %>
    <% else %>
      <%= f.select :show_id, current_user.shows.collect { |show| [ show.title, show.id]}, { include_blank: true }  %>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Max 250 char"%>

    <%= f.hidden_field :new_key, value: params[:key] %>
    <br><br>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>