<% if signed_in? %>
  <span class="options">
    <ol>
      <li><%= link_to "Your page", current_user %></li>
      <li><%= link_to "Add post", new_post_path %></li>
      <li><%= link_to "Add podcast", new_audio_path %></li>
      <% current_user.shows.each do |show| %>
        <li><%= link_to show.title, show %></li>
      <% end %>
      <% if current_user.level.to_i < 2 %>
        <li><%= link_to "Add new user", new_user_path %></li>
        <li><%= link_to "Add new show", new_show_path %></li>
      <% end %>
      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
    </ol>
  </span>
<% end %>
<div>
  <span id="listen">
    <a id="play" href="#" onclick="window.open('http://apps.streamlicensing.com/player-popup.php?sid=2660&stream_id=4543','player','width=405,height=373,scrollbars=no');javascript:history.go(-1);return false;">
      <%= image_tag("listenlive.png", width: "250") %>
    </a>
  </span>
  <div id="logo">
    <%= image_tag("CR_Header_stroke.png", width: "200") %>
    <%= image_tag("CR_transparent5_dark.png", width: "45") %>
  </div>
  <audio id="audio">
    <source  src="http://www.live365.com/play/371252">
  </audio>
</div>