<% if signed_in? %>
  <span class="options">
    <ol class="sideList">
      <li><%= link_to "Your page", current_user %></li>
      <% current_user.shows.each do |show| %>
        <li><%= link_to show.title, show %></li>
      <% end %>
      <% if current_user.level.to_i < 2 %>
        <li><%= link_to "Add new user", new_user_path %></li>
        <li><%= link_to "Add new show", new_show_path %></li>
      <% end %>
      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
    </ol>
  </span>
<% end %>
<div>
  <span id="listen">
    <a id="play"><%= image_tag("listenlive.png", width: "250") %></a>
      <a id="stop"><%= image_tag("stop.png", style: "display: none;", width: "250") %></a>
      <a id="newWindow" target="_blank" onclick="pause()" href="http://widget.live365.com/widget/widget/showWidget.jsp?src=html&Widget_Server=widget.live365.com/widget/&p=wvbr&site=web&stationBroadcaster=wvbr&wId=136C84811D071A03FC48D3F7&mainColor=0xcc0000&txtColor=0xffffff&startPage=3&autoPlay=1&style=1&hasPurchase=1&transparent=0&bgPic=http://&codeType=0&stationTitle=Real%20Rock%20Radio:%20WVBR">
        <p style="display: none;">Click to open stream in a new window</p>
      </a>
  </span>
  <div id="logo">
    <%= image_tag("CR_Header_stroke.png", width: "200") %>
    <%= image_tag("CR_transparent5_dark.png", width: "45") %>
  </div>
  <audio id="audio" src="http://www.live365.com/play/343091">
</div>