<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script> // Google analytics code
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60066770-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script>

</head>
<body>
  <div class="container">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <%= render 'layouts/nav' %>
    <% flash.each do |key,value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
<footer>
  <% if params[:action] == 'home' %>
    <a class="pull-right" href="http://www.streamlicensing.com/directory/?action=verify&sid=2660" target="_Blank">
      <img src="http://www.streamlicensing.com/directory/images/streamlicensing-badge.png" border="0">
    </a>
  <% end %>
</footer>
</html>
