<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script>

</head>
<body>
  <div class="container">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <%= render 'layouts/nav' %>
    <% flash.each do |key,value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
<footer>
  <% if params[:action] == 'home' %>
    <a class="pull-right" href="http://www.streamlicensing.com/directory/?action=verify&sid=2660" target="_Blank">
      <img src="http://www.streamlicensing.com/directory/images/streamlicensing-badge.png" border="0">
    </a>
  <% end %>
</footer>
</html>
